<!DOCTYPE html>
<html>

<head>
  <title>MySite</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/788e1bc3ee.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="header-container">
      <%= link_to image_tag("img/logo.png", class: "image"), root_path %>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <%= link_to "Portfolio", root_path,class: "no-decoration"  %>
          </li>
          <li class="nav-list-item">
            <%= link_to "Feature", root_path,class: "no-decoration"  %>
          </li>
          <li class="nav-list-item">
            <%= link_to "Profile", root_path,class: "no-decoration"  %>
          </li>
          <li class="nav-list-item">
            <%= link_to "Contact", root_path,class: "no-decoration"  %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="main-visual">
    <div class="container1">
      <h1 class="main-title">Lorem Ipsum</h1>
      <p class="text">simply dummy text of the printing</p>
    </div>
  </div>
  <div class="main">
    <div class="gray-container">
      <div class="big-container">
        <div class="container2">
          <h2 class="title">Portfolio</h2>
          <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
            content of a page when looking at its layout.</br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</br>
          </p>
        </div>
        <div class="container3">
          <div class="box1 box"></div>
          <div class="box2 box"></div>
          <div class="box3 box"></div>
          <div class="box4 box"></div>
          <div class="box5 box"></div>
          <div class="box6 box"></div>
        </div>
      </div>
    </div>
    <div class="big-container2">
      <div class="container4">
        <h2 class="title">Feature</h2>
        <p class="content">It is a long established fact that a reader will be distracted by the readable</br>
          content of a page when looking at its layout.</br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      </div>
      <div class="container5">
        <div class="strength-container">
          <i class="fa fa-code strength-icon"></i>
          <h3 class="strength-title">Strength1</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum
          is not simply random text. It has roots
          in a piece of classical Latin literature
          from 45 BC, making it over 2000 years
          old. Richard McClintock, a Latin
          professor at Hampden-Sydney College
          in Virginia, looked up one of the more
          obscure Latin words, consectetur</p>
        </div>
        <div class="strength-container">
          <i class="fa fa-desktop strength-icon"></i>
          <h3 class="strength-title">Strength2</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
        <div class="strength-container">
          <i class="fa fa-cogs strength-icon"></i>
          <h3 class="strength-title">Strength3</h3>
          <p class="strength-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>